@import url(https://fonts.googleapis.com/css?family=Dosis:600);

html {
	height: 100%;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.about {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #361252;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 3;
}

.about:hover {
	background-color: #652496;
}

#button {
	display: block;
	cursor: pointer;
	position: absolute;
	text-align: center;
	color: #fff;
	width: 10%;
	left: 45%;
	top: 50%;
	font-family: 'Dosis', sans-serif;
	font-size: 28px;
	z-index: 3;
}

#button:hover {
	background-color: #652496;
}


#canvas {
	display: block;	
	background-color: transparent;
	z-index: 2;
	position: absolute;
}

#canvas-star {
	display: block;
	background-color: #15203A;
	z-index: 1;
	position: absolute;
}